.table {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  overflow-x: auto;
}

.row {
  padding: 10px 0;
  display: flex;
  border-top: 1px solid gray;
}

.cell {
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.sort:hover {
  cursor: pointer;
}

.id {
  min-width: 50px;
  max-width: 50px;
  border-right: 1px solid gray;
}

.img {
  min-height: 30px;
  min-width: 100px;
  max-width: 200px;
  max-height: 400px;
  vertical-align: middle;

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.smCell {
  max-width: 150px;
}

.mdCell {
  max-width: 300px;
}

.arrowWrapper {
  margin-left: 3px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::after,
  &::before {
    content: "";
    margin: 1px 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  &::before {
    border-bottom: 7px solid rgb(112, 144, 219);
  }

  &::after {
    border-top: 7px solid rgb(112, 144, 219);
  }
}

.top::before {
  border-bottom: 7px solid rgb(6, 31, 89);
}

.bottom::after {
  border-top: 7px solid rgb(6, 31, 89);
}

.top {
}
